<a href="https://github.com/ualibweb/oneSearch_ui/edit/master/src/guide/adding-engines.ngdoc" class="improve-docs"><i class="icon-edit"> </i>Improve this doc</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="adding-engines-page"><h2 id="adding-engines-to-onesearch">Adding Engines to oneSearch</h2>
<div class="alert alert-primary">Engines are configured and registered via the <code>oneSearchProvider</code>, <a href="#/api/oneSearch.oneSearchProvider">see here for details</a></div>

<h3 id="adding-engines-to-onesearch_step-1">Step 1</h3>
<h4 id="adding-engines-to-onesearch_step-1_create-a-directory-with-the-engines-name-under">Create a directory with the engines name under <code>src/app/common/engines/ENGINE_NAME</code>.</h4>
<pre><code> This will contain the engine&#39;s config module, template, and LESS/CSS files
</code></pre><h3 id="adding-engines-to-onesearch_step-2">Step 2</h3>
<h4 id="adding-engines-to-onesearch_step-2_create-the-engine-config-module">Create the engine config module</h4>
<pre><code>In the engines folder create the `engine config` module file: `myEngine.js`:

**Note:** be sure to add the `@ngdoc` comments, filling in the `properties` table, so the engine info will appear in these docs! You can use the example below as a template.
</code></pre><pre class="prettyprint linenums">
    &#47;**
     &#64;ngdoc object
     &#64;name engines.type:myEngine
     
     &#64;description
     Engine config properties
     
     | property | value |
     |----------|-------|
     | id       | {number|string}      |
     | title    | `My Engine` |
     | priority | N/A *(defaults to 10)*     |
     | resultsPath | `JSON.Path.To.Results`     |
     | totalsPath | `JSON.Path.To.Results.Totals`     |
     | mediaTypes | &lt;ul&gt;&lt;li&gt;**path:** `JSON.Path.To.Type.Value`&lt;/li&gt;&lt;li&gt;**types:** &lt;ul&gt;&lt;li&gt;**books:** `['books', 'ebook']`&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt; |
     | filterQuery | FILTER_QUERY |
     | templateUrl | `common/engines/my-engine/my-engine.html` |
     | controller |  {&#64;link engines.type:myEngine}  |
     
     &#64;requires oneSearch.oneSearchProvider
     *&#47;

    angular.module('engines.myEngine', [])
    
         .config(['oneSearchProvider', function(oneSearchProvider){
                 oneSearchProvider.engine('myEngine', {
                     id: {number|string},
                     title: {string=}
                     priority: {number},
                     resultsPath: 'JSON.Path.To.Results',
                     totalsPath: 'JSON.Path.To.Results.Totals',
                     mediaTypes: {
                         path: 'JSON.Path.To.Type.Value',
                         types: {
                             books: ['books', 'ebook']
                         }
                     },
                     templateUrl: 'common/engines/my-engine/my-engine.tpl.html',
                     controller: 'MyEngineCtrl'
                 });
             }])
             
         .controller(['$scope', function($scope){
            for(var item in $scope.items){
                ...
            }    
         ]);
</pre>
<h3 id="adding-engines-to-onesearch_step-3">Step 3</h3>
<h4 id="adding-engines-to-onesearch_step-3_create-a-template-for-engine-items">Create a template for engine items</h4>
<p>this template is applied to each item in the search results individually
     <em>Note:** template files should </em>always* end in <code>.tpl.html</code> (i.e., ENGINE_NAME.tpl.html)</p>
<ol>
<li><p><em>(optional)</em> Create LESS file to create custom styles for the engine&#39;s template</p>
</li>
<li><p>Add the <code>ENGINE_NAME</code> config module to the <code>common.engines</code> module&#39;s dependencies
<pre class="prettyprint linenums">
    angular.module('common.engines', [
         'engines.scout',
         'engines.catalog',
         ...
         'engines.ENGINE_NAME`
    ])
</pre>
</li>
</ol>
</div></div>
