<div class="media">
    <div class="media-body">
        <h4 class="media-heading">
            <a ng-href="{{item.PLink}}"
               title="{{item.Items[0].Data}}"
               target="_scout"
               ng-bind-html="item.title | lowercase | ucfirst | truncate: 80: '...': true" ng-click="gaPush()"></a>

        </h4>
        <div class="details-context">
            <span ng-if="item.year">{{item.year}}</span>
            <span ng-if="item.ISSN">ISSN: {{item.ISSN}}</span>
            <span ng-if="item.mediaType">{{item.mediaType}} </span>
            <span ng-if="item.FullText.Text.Availability">Full Text Online</span>
        </div>

        <ul class="list-inline">
            <li>
                <a ng-href="{{resourceLink}}" class="external-link" ng-if="resourceLink" target="_{{engine}}" ng-click="gaMore()">Results in {{engineName}}</a>
            </li>
        </ul>


    </div>
</div>