<div class="media">
    <div class="media-body">
        <h3 class="h4 media-heading">
            <a ng-href="{{item.url}}" title="{{item.title}}" target="_databases" ng-click="gaPush()">{{item.title | truncate: 40: '...': true}}</a>
        </h3>
        <div class="details-context">
            <span ng-if="item.coverage" ng-bind-html="item.coverage"></span>
        </div>
        <div class="details-container" ng-if="item.subjects">
            <span class="text-muted">Subjects: </span>
            <span class="detail" ng-repeat="subj in item.subjects">{{subj.subject}}{{$last ? '' : ', '}}</span>
        </div>
        <ul class="list-inline">
            <li>
                <a ng-href="{{resourceLink}}" class="external-link" ng-if="resourceLink" target="_{{engine}}" ng-click="gaMore()">Results in {{engineName}}</a>
            </li>
        </ul>
    </div>
</div>