<div class="media">
    <div class="media-body">
        <h4 class="media-heading">
            <a ng-href="{{item.url}}" title="{{item.title}}" target="_databases" ng-click="gaPush()">{{item.title | truncate: 40: '...': true}}</a>
        </h4>
        <div class="details-context">
            <span ng-if="item.coverage" ng-bind-html="item.coverage"></span>
        </div>
        <div class="databases-details" ng-if="(item.subjects | where:{type:1}).length > 0">
            <strong>Primary subjects: </strong>
            <span ng-repeat="subj in item.subjects | where:{type:1}"></span>
        </div>
    </div>
</div>