<div class="media">
    <div class="media-body">
        <h4 class="media-heading">
            <a ng-href="{{item.href}}"
               title="{{item.title}}"
               ng-bind-html="item.title | truncate: 50: '...': true" target="_catalog" ng-click="gaPush()"></a>
        </h4>
        <div class="details-context">
            <span ng-if="item.year && item.year | number" ng-bind-html="item.year"></span>
            <span ng-if="item.mediaType" ng-bind-html="item.mediaType"></span>
            <span ng-if="item.issn">ISSN: {{item.issn}}</span>
        </div>
        <div collapse="isCollapsed" class="details-container" ng-if="item.author">
            <span class="text-muted">Author(s)</span>
            <span class="detail">
                <span ng-bind-html="item.author | lowercase | ucfirst"></span>
            </span>
        </div>
        <ul class="list-inline">
            <li>
                <a ng-href="{{resourceLink}}" class="external-link" ng-if="resourceLink" target="_{{engine}}" ng-click="gaMore()">Results in {{engineName}}</a>
            </li>
            <li ng-show="item.author">
                <a href="" ng-click="isCollapsed = !isCollapsed">Item details <span class="fa" ng-class="{'fa-caret-down': isCollapsed, 'fa-caret-up': !isCollapsed}"></span></a>
            </li>
        </ul>
    </div>
</div>