<div class="input-group input-group-lg">
    <input type="text" name="search" class="form-control onesearch-text" placeholder="{{prompt}}"
           ng-model="model" ng-change="onChange()" autocomplete="off" ng-blur="onBlur()" ng-focus="onFocus()" />
    <div class="input-group-btn">
        <button type="submit" class="btn btn-onesearch btn-primary"><span class="fa fa-search"></span></button>
    </div>
</div>
<div class="suggest" ng-hide="model.length < 3 || selected">
    <ul class="nav nav-pills nav-stacked" ng-hide="items.suggest.searches.length == 0">
        <li role="presentation" ng-repeat="item in items.suggest.searches | limitTo:5 track by $index"
             ng-mousedown="handleSelection(item.search)" ng-class="item.class"
             ng-mouseenter="setCurrent($index, false)">
            <a href="#">{{item.search}}</a>
        </li>
    </ul>
    <div ng-hide="items.suggest.recommend.length == 0">
        <h4>Recommendations</h4>
        <div ng-repeat="recommendation in items.suggest.recommend">
            <div ng-repeat="keyword in recommendation.keywords | limitTo:10 track by $index">
                <div ng-if="$index == 0">
                    <a href="{{recommendation.link}}" ng-mousedown="go(recommendation.link)">
                        {{recommendation.description}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="items.subjects.length == 0">
        <h4>LibGuides Subjects</h4>
        <div ng-repeat="person in items.subjects">
            <div ng-repeat="subject in person.subjects">
                <div ng-repeat="keyword in subject.keywords | limitTo:10 track by $index">
                    <div ng-if="$index == 0">
                        <a ng-if="subject.link.length > 7" href="{{subject.link}}" ng-mousedown="go(subject.link)">
                            {{subject.subject}}
                        </a>
                        <a ng-if="subject.link.length <= 7" href="#"
                           ng-mousedown="go('mailto:' + person.email + '?subject=Question')">
                            Ask {{person.name}}, {{person.title}} at {{person.department}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


