<div class="input-group input-group-lg">
    <input type="text" name="search" class="form-control onesearch-text" placeholder="{{prompt}}" id="osTextField"
           ng-model="model" ng-change="onChange()" ng-trim="false" autocomplete="off" />
    <div class="input-group-btn">
        <button type="submit" class="btn btn-onesearch btn-primary"><span class="fa fa-search"></span></button>

    </div>

</div>

<div class="suggest" ng-show="showSuggestions && selected && (items.suggest.length > 0 || items.recommend.length > 0 || items.subjects[0].subjects.length > 0 || items.faq.length > 0)">
    <div ng-if="items.suggest.length > 0">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"
                ng-repeat="item in filteredItems = (items.suggest | filter:compare(originalValue)) | limitTo:numShow track by $index"
                ng-mousedown="handleSelection(item.search)" ng-class="item.class"
                ng-mouseenter="setCurrent($index, false)">
                <a href="#/bento/{{item.search}}" ng-click="gaTypeAhead(item.search)">{{item.search}}</a>
            </li>
        </ul>
    </div>
    <div class="suggest-row" ng-show="items.recommend.length > 0 || items.subjects[0].subjects.length > 0 || items.faq.length > 0">
        <div class="row">
            <div class="col-sm-4 suggest-col" ng-show="items.recommend.length > 0">
                <div class="">
                    <h4>Recommended Links</h4>
                    <div ng-repeat="recommendation in items.recommend | limitTo:10">
                        <a ng-href="{{recommendation.link}}" ng-click="gaSuggestion(recommendation.description)">
                            {{recommendation.description}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 suggest-col" ng-show="items.subjects[0].subjects.length > 0">
                <div class="">
                    <h4>Research Guides&#39; Subjects <a href="http://guides.lib.ua.edu/" class="small" ng-mousedown="go('http://guides.lib.ua.edu/')">more</a></h4>
                    <div ng-repeat="person in items.subjects | limitTo:10">
                        <div ng-repeat="subject in person.subjects | limitTo:2">
                            <a ng-if="subject.link.length > 7" ng-href="{{subject.link}}" ng-mousedown="go(subject.link)" ng-click="gaSuggestion(subject.subject)">
                                {{subject.subject}}
                            </a>
                            <a ng-if="subject.link.length <= 7" href="#"
                               ng-mousedown="go('mailto:' + person.email + '?subject=Question')">
                                Ask {{person.name}}, {{person.title}} at {{person.department}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 suggest-col" ng-show="items.faq.length > 0">
                <div class="">
                    <h4>FAQ <a href="http://ask.lib.ua.edu/" class="small" ng-mousedown="go('http://ask.lib.ua.edu/')">more</a></h4>
                    <div ng-repeat="faq in items.faq | limitTo:5">
                        <a ng-href="{{faq.link}}" ng-mousedown="go(faq.link)"  ng-click="gaSuggestion(faq.title)" ng-bind-html="faq.title">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>