<div class="media">
    <div class="media-body">
        <h3 class="h4 media-heading">
            <a ng-href="{{item.PLink}}"
               title="{{item.Items[0].Data}}"
               target="_scout"
               ng-bind-html="item.title | lowercase | ucfirst | truncate: 80: '...': true" ng-click="gaPush()"></a>
        </h3>
        <div class="details-context">
            <span ng-if="item.RecordInfo.BibRecord.BibRelationships.IsPartOfRelationships[0].BibEntity.Dates[0]">{{item.RecordInfo.BibRecord.BibRelationships.IsPartOfRelationships[0].BibEntity.Dates[0].Y}} </span>
            <span ng-if="item.mediaType">{{item.mediaType}} </span>
            <span ng-if="item.FullText.Text.Availability">Full Text Online</span>
        </div>
        <div collapse="isCollapsed" ng-show="(item.RecordInfo.BibRecord.BibRelationships.HasContributorRelationships || item.source || item.RecordInfo.BibRecord.BibEntity.Subjects)">
            <div class="details-container" ng-if="item.RecordInfo.BibRecord.BibRelationships.HasContributorRelationships">
                <span class="text-muted">Authors </span>
            <span class="details"...
                  ..

                  ng-repeat="author in item.RecordInfo.BibRecord.BibRelationships.HasContributorRelationships | unique: 'PersonEntity.Name.NameFull'"
                  ng-bind-html="author.PersonEntity.Name.NameFull | lowercase | ucfirst"></span>
            </div>

            <div class="details-container" ng-if="item.source">
                <span class="text-muted">Sources </span>
                <span class="details" ng-bind-html="item.source"></span>
            </div>

            <div class="details-container" ng-if="item.RecordInfo.BibRecord.BibEntity.Subjects">
                <span class="text-muted">Subjects </span>
            <span class="details"
                  ng-repeat="subject in item.RecordInfo.BibRecord.BibEntity.Subjects"
                  ng-bind-html="subject.SubjectFull"></span>
            </div>
        </div>
        <ul class="list-inline">
            <li ng-show="item.RecordInfo.BibRecord.BibRelationships.HasContributorRelationships || item.source || item.RecordInfo.BibRecord.BibEntity.Subjects">
                <a href="" ng-click="isCollapsed = !isCollapsed">Item details <span class="fa" ng-class="{'fa-caret-down': isCollapsed, 'fa-caret-up': !isCollapsed}"></span></a>
            </li>
            <li>
                <a ng-href="{{resourceLink}}" class="external-link" ng-if="resourceLink" target="_{{engine}}" ng-click="gaMore()">Results in {{engineName}}</a>
            </li>
        </ul>

    </div>
</div>