
.bento-box-container {

  h2{
    font-size: 25px;
    color: #555;
    margin-bottom: 15px;

    > #loading-bar-spinner{
      margin-left: 10px;
    }
  }

  h4{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
  }

  > .row:not(:first-child){
    margin-bottom: 15px;
    border-top: 1px solid #eee;
  }
}

.bento-box{
    min-height: 350px;
    overflow: hidden;
    -webkit-transition: 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -moz-transition: 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -ms-transition: 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    -o-transition: 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    transition: 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
}

.bento-box-item{
    margin-bottom: 15px;
}

.recommended{
    min-height: 100px;
}

.recommended > h2{
    font-size: 1.75em;
}
