.bento-box-container {
  h2{
    font-size: 25px;
    color: #555;
    margin-bottom: 10px;

    > #loading-bar-spinner{
      margin-left: 10px;
    }
  }

  > .row:not(:first-child){
    margin-bottom: 0;
    border-top: 1px solid #eee;
  }
}

//TODO: set min-height for medium devices and above - need to rework how roots-ualib styles are built for easy import into perr libraries
.bento-box:not(.recommend){
  min-height: 350px;
  overflow: hidden;
}

.bento-box-item{
  margin: 1em 0;

  .media-body{
    * {
      line-height: 1.1;
    }
  }

  .media-heading{
    margin-bottom: 2px;
    a {

      font-size: 17px;
      font-family: sans-serif;
      line-height: 1.1;
    }
  }

  p {
    text-align: left;
    margin-bottom: 0;
  }

  .list-inline{
    margin-bottom: 0;
    > li > a {
      font-size: 13px;
    }
  }
}

.resource-link-container{
  text-align: right;
  margin: 15px 15px 15px 0;
}

.recommend{
  min-height: 30px;

  h2 {
    font-size: 1.2em;
  }
}